POSTGRES_DB=fleet
POSTGRES_USER=fleet
POSTGRES_PASSWORD=fleet123

DATABASE_URL=postgresql://fleet:fleet123@postgres:5432/fleet
JWT_SECRET=secret
BACKEND_PORT=3000

NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1
